################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRG282-Project/.vs/PRG282-Project/FileContentIndex/3d449288-ecb6-4589-ab7f-c1df88bd6e79.vsidx
/PRG282-Project/.vs/PRG282-Project/FileContentIndex/ee41cc4a-d3e9-44fd-a10e-5a276d324f01.vsidx
/PRG282-Project/.vs/PRG282-Project/FileContentIndex/f7283940-57d9-43e0-befc-6d126fae52ee.vsidx
