################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRG282-Project/.vs/PRG282-Project/FileContentIndex/69702036-abea-417a-8fd3-46eef934c326.vsidx
/PRG282-Project/.vs/PRG282-Project/FileContentIndex/810be022-c61f-4199-a49a-36b2ffde69e5.vsidx
/PRG282-Project/.vs/PRG282-Project/FileContentIndex/e26bd9c4-0f3c-4026-8421-5429df5efca6.vsidx
/PRG282-Project/.vs/PRG282-Project/FileContentIndex/db36f832-34ec-462a-879b-fa445fbf2517.vsidx
/PRG282-Project/.vs/PRG282-Project/FileContentIndex/b3e38f2e-2d63-483f-a51e-eb45a6b72762.vsidx
/PRG282-Project/.vs/PRG282-Project/FileContentIndex/807d990c-370d-4965-8033-5426c97bfb7e.vsidx
