################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRG282-Project/.vs/PRG282-Project/FileContentIndex/69702036-abea-417a-8fd3-46eef934c326.vsidx
/PRG282-Project/.vs/PRG282-Project/FileContentIndex/810be022-c61f-4199-a49a-36b2ffde69e5.vsidx
